.button{
  display: flex;
  justify-content: center;
}

.condtion_and_tem{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
    
}

.crdts{
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-align: center;
  font-size:large;
  width: 100%;
}